<!doctype html>
<html>
<head>
    <title>Slang Dictionary</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="landingPg.css">
</head>
<body class="looks">
<div class="containers">

    <div class="jumbotron text-center">
        <h1>Slang Dictionary!</h1>

        <p>Proceed to:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/welcome" class="btn btn-default"><span class="fa fa-user"></span>Look up words</a>
        <!-- reroute to index.ejs -->

    </div>
</body>
</html>
