<!doctype html>
<html>
<head>
    <title>Slang Dictionary</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="looks">
<div class="containers">

    <div class="jumbotron text-center">
        <h1>Slang Dictionary!</h1>
        <!-- <img src="img/family.jpg" alt="Family Photo"> -->

        <p>Proceed to:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/welcome" class="btn btn-default"><span class="fa fa-user"></span>Look up words</a>
        <!-- reroute to index.ejs -->

    </div>

<!-- </div>
</body>
</html>
