
.box{
  width: 400px;
  height: 400px;
  border: 2px solid black;
}
body {
    background: url('http://i.imgur.com/Eor57Ae.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}

h1,span, label, p{
  color: white;
}

a{
  color: #ffb2b2;
}
.btn-warning{
  background-color:#ffb2b2;
}
